
<img src="https://assets.ynap-content.com/homepage-section0-item0-1510937150611.gif"
     width="100%">

<div class="container text-center">
  <div class="row">
    <!--<div class="col-md-4" routerLink=`/detail/${skirt_id}` >-->
    <a class="col-md-4" [routerLink]="['/detail', skirt_id]" >

      <img src="https://assets11.modaoperandi.com/images/products/581041/169204/large_oscar-de-la-renta-gold-floral-appliqued-tulle-dress.jpg?_t=1511185062"
           class="img-responsive" width="400" height="400" routerLink="/detail">
      <p>OSCAR DE LA RENTA</p>
      <p>Floal-Applied Tulle Dress</p>
      <p >$679<span style="color: red"> 50% off</span></p>
    </a>

    <a class="col-md-4" [routerLink]="['/detail', bag_id]">
      <img src="https://assets13.modaoperandi.com/images/products/583948/172440/large_dolce-gabbana-black-crystal-embellished-leather-shoulder-bag.jpg?_t=1510782822"
           class="img-responsive" width="400" height="400" >
      <p>DOLCE & GABBANA</p>
      <p>Crystal Embellished leather Shoulder Bag</p>
      <p>$2995 <span style="color: red">40% off</span> </p>
    </a>

    <div class="col-md-4">
      <img src="https://assets11.modaoperandi.com/images/products/585467/174084/large_giuseppe-zanotti-black-bimba-stretch-knit-over-the-knee-boots.jpg?_t=1511650591"
           class="img-responsive" width="400" height="400">
      <p>GIUSEPPE ZANOTTI</p>
      <p>Bimba Stretch-Knit Over-The-Knee Boots</p>
      <p>$995 <span style="color: red" > 35% off</span></p>
    </div>
  </div>
</div>
