/* You can add global styles to this file, and also import other style files */
@import "!~bootstrap/dist/css/bootstrap.css";

navbar {
  margin-bottom: 0;
  border-radius: 0;
}

carousel-inner img {
 min-height: 100px;
  width: 100%;
  margin: auto;
}
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
